* {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

h1, p {
  text-align: center;
  margin-bottom: 1em;
}


.form {
  width: 450px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: .5em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: .3em;
}

.form-control input {
  padding: 5px;
}

.form-checkbox {
  flex-direction: row;
}

.form-checkbox input {
  margin: 10px;
}

/* Navbar */

#navbar {
  border-bottom: 1px solid #ccc;
  padding: 0.5em;
  margin-bottom: 1em;
}

#navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
}

#navbar ul li {
  margin-right: 1em;
}

.actions {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.actions a {
  margin-right: 1em;
}

/* Users */
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}

.container .item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  flex: 1 1 29%;
  width: 100px;
  display: flex;
  flex-direction: column;
  max-width: 29%;
  justify-content: space-around;
}

.item h2,
.item p {
  margin-bottom: .8em;
}

.actions {
  display: flex;
}

.actions a,
.actions input {
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  background-color: white;
  padding: 5px;
  font-size: 15px;
  color: black;
  cursor: pointer;
  justify-content: space-between;
}

.actions .details-btn {
  border-color: blue;
  color: blue;
}

.actions .delete-btn {
  border-color: red;
  color: red;
}

.actions .edit-btn {
  border-color: green;
  color: green;
}